@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family:'Open Sans', sans-serif;
}

.header {
    background-color: #1e5d88;
    color:white;
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

}

/* styles for devices with a min width of 768px */
@media (min-width: 1330px) {
    .bot-state {
        position: absolute;
        left: 35%
    }
    .bot-location {
        position: absolute;
        left: 55%
    }
    .package-weight{
        position: absolute;
        left: 70%
    }
    .dest-state {
        position: absolute;
        right: 78%;
    }
    .battery-state {
        position: absolute;
        right: 2%;
    }

  }

/* styles for devices with a max width of 480px */
@media (max-width: 600px) {
    .dest-state {
        position: absolute;
        left: 30%;
    }
    .bot-state {
        position: absolute;
        left: 35%
    }
    .bot-location {
        position: absolute;
        left: 55%
    }
    .package-weight{
        position: absolute;
        left: 70%
    }
    
    .battery-state {
        position: absolute;
        right: 2%;
    }

  }


