.navbar{
    position:absolute;
    background-color:#1e5d88;
    color:white;
    font-size:large;
    left:0;
    height:100%;
    width:200px;
    transform: translateX(-100%);
    transition: all 0.4s;
}

.navbar li {
    list-style: none;
    padding: 1rem 2rem;
    border-bottom: solid gray 1px;
    display:flex;
    align-items: center;
    gap:1rem;
    font-weight: 300;
}

.navbar li:hover{
    background-color:#E0BBE4 ;

}

.navbar--open{
    transform: translateX(0%);
}

.icon {
    position: relative;
}